.table-container {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 20px;
}

.ag-header-group-cell {
  font-size: 30px;
  color: #542280;
  margin-left: 60px;
  pointer-events: none;
}

.ag-cell-label-container {
  height: 100%;
}

.ag-header-cell-text {
  margin-left: 50px;
  font-size: 15px;
}

.chart-button {
  margin-left: -70px;
}

.graph-icon {
  width: 30px;
  height: 40px;
}
